body {
    color: #434455;
    background-color: #FFFFFF;
}

* {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p,
div,
a {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.container {
    width: 1128px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
}

.header {
    padding-bottom: 24px;
    padding-top: 24px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-navigation-direction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.header-navigation-direction ul {
    display: flex;

}

.logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 117%;
    color: #4d5ae5;
    margin-right: 76px;

}

.text-higlight {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
}

.header-navigation-list {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
}

.header-navigation-list-item {}

.header-navigation-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-navigation-list .header-navigation-list-item:first-child .header-navigation-list-title {
    color: #2e2f42;
}

.header-navigation-list .header-navigation-list-item:first-child .header-navigation-list-title:hover,
.header-navigation-list .header-navigation-list-item:first-child .header-navigation-list-title:focus {
    color: #404bbf;
}


.header-navigation-list-title:hover,
.header-navigation-list-title:focus {
    color: #404bbf;
}


.contacts {
    font-style: normal;
    flex-grow: 1;
}

.contacts-list {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    gap: 40px;
}

.contacts-list-item {}

.hero-banner {
    background-color: #2E2F42;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-banner-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 188px;
    margin-bottom: 48px;
}

.hero-banner-button-primary {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    background-color: #4D5AE5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 188px;
    border: none;
}

.hero-banner-button-primary:hover {
    background-color: #404BBF;
}

.hero-banner-button-primary:focus {
    background-color: #404BBF;
}

.feature {}

.feature-heading {
    display: none;
}

.feature-list {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    gap: 24px;
}

.feature-list-item {
    width: 264px;
}

.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    padding-top: 120px;
}

.team-list {
    padding-top: 72px;
    padding-bottom: 120px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-list-item {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
}


.team-list-item-image {}

.team-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    padding-top: 32px;
}

.team-list-item-subtitle {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 24px;
}

.bottom {
    background-color: #2E2F42;
}

.portfolio {
}

.portfolio-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;

}

.portfolio-title {
    background-color: #FFFFFF;
    padding-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 0px;
    justify-content: center;
}

.portfolio-title-list {
    padding-bottom: 48px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 360px;
    height: 420px;
}

.portfolio-title-list-image {}

.portfolio-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 32px;
    padding-left: 16px;
}

.portfolio-list-item-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
    padding-left: 16px;
}

.bottom {
    padding-top: 100px;
    padding-bottom: 100px;
}


.logo-footer {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    line-height: 117%;
}

.text-higlight-footer {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}

.bottom-title {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding-top: 16px;
    max-width: 264px;
}